@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-outfit: 'Outfit', sans-serif;
}

/* Força bruta no background */
html, body {
  background-color: #050505 !important;
  color: #ffffff !important;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-outfit), sans-serif;
  overflow-x: hidden;
}

.glass-panel {
  background: rgba(20, 20, 25, 0.7);
  backdrop-filter: blur(16px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.5);
}